# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
*.egg
.env
.venv/
venv/

# Données locales
data/raw/
data/processed/
*.csv
*.json
*.parquet

# Databricks
.databricks/
*.dbc

# IDE
.vscode/
.idea/
*.swp
*~

# OS
.DS_Store
Thumbs.db
